/* --==== HEADER ====-- */
header {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 5%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}
.logo{
  display: none;
  height: auto;
  width: 70px;
}
#logo{
  height: auto;
  width: 70px;
}
.navbar{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
#circleIcon{
  font-size: 6px;
}
.nav-item {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  text-shadow: 0px 1px 25px rgb(145, 225, 239);
  letter-spacing: 5px;
  position: relative;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.13px;
  text-decoration: none;
  /* margin-left: 40px; */
  transition: all 0.5s ease;
}
.icon {
  position: absolute;
  right: 5%;
  font-size: 36.8px;
  color: white;
  text-shadow: 0px 1px 25px rgb(160, 244, 247);
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}
@media (max-width: 870px) {
  #circleIcon{
    display: none;
  }
  .logo{
    display: block;
  }
  #logo{
    display: none;
  }
  header{
    height: 40px;
  }
  header::before {
    position: absolute;
    content: "";
    inset: 0;
    width: 100%;
    backdrop-filter: blur(20px);
    z-index: -1;
  }

  header::after {
    position: absolute;
    content: "";
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: 0.8s;
  }
  .icon {
    display: inline-flex;
  }
  #check:checked ~ .icon #menu-icon {
    display: none;
  }
  .icon #close-icon {
    display: none;
  }
  #check:checked ~ .icon #close-icon {
    display: block;
  }
  .navbar {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(to right, rgb(62, 28, 114), rgb(32, 53, 116));
    backdrop-filter: blur(50px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
  }
  #check:checked ~ .navbar {
    height: 256px;
  }
  .nav-item {
    display: block;
    font-size: 17.6px;
    margin: 32px 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: all 0.3s ease;
  }
  .nav-item:hover::after {
    width: auto;
  }
  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
}
@media screen and (max-width: 350px) {
  header h1{
    font-size: 20px;
  }
  
}


