@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/css';
@import "swiper/css/pagination";

::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-track{
  background: linear-gradient(rgb(161, 140, 227), rgb(190, 152, 198));
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(rgb(65, 19, 79), rgb(145, 28, 135));
  border-radius: 10px;
}

/* @media screen and (max-width: 870px) {
  ::-webkit-scrollbar{
    display: none;
  }
  
} */

